
Cooperativa/Implement/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Cooperativa/Implement/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Cooperativa/UI/obj/Debug/CoreCompileInputs.cache
*.dll
*.dll
*.pdb
Cooperativa/FormsAuxiliares/obj/Debug/CoreCompileInputs.cache
Cooperativa/FormsAuxiliares/obj/Debug/CoreCompileInputs.cache
Cooperativa/FormsAuxiliares/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Cooperativa/FormsAuxiliares/obj/Debug/CoreCompileInputs.cache
Cooperativa/FormsAuxiliares/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Cooperativa/FormsAuxiliares/obj/Debug/CoreCompileInputs.cache
Cooperativa/FormsAuxiliares/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Cooperativa/FormsAuxiliares/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cooperativa/FormsAuxiliares/obj/Debug/FormsAuxiliares.csproj.FileListAbsolute.txt
Cooperativa/FormsAuxiliares/obj/Debug/FormsAuxiliares.csproj.GenerateResource.Cache
Cooperativa/FormsAuxiliares/obj/Debug/FormsAuxiliares.csproj.ResolveComReference.cache
Cooperativa/FormsAuxiliares/obj/Debug/FormsAuxiliares.csprojResolveAssemblyReference.cache
Cooperativa/UI/obj/Debug/UI.exe
Cooperativa/UI/obj/Debug/UI.csprojResolveAssemblyReference.cache
Cooperativa/UI/obj/Debug/UI.csproj.GenerateResource.Cache
Cooperativa/UI/obj/Debug/UI.csproj.FileListAbsolute.txt
Cooperativa/UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cooperativa/UI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Cooperativa/UI/bin/Debug/UI.exe
Cooperativa/service/obj/Debug/Service.csprojResolveAssemblyReference.cache
Cooperativa/service/obj/Debug/Service.csproj.ResolveComReference.cache
Cooperativa/service/obj/Debug/Service.csproj.FileListAbsolute.txt
Cooperativa/service/obj/Debug/CoreCompileInputs.cache
Cooperativa/Model/obj/Debug/Model.csproj.FileListAbsolute.txt
Cooperativa/Model/obj/Debug/CoreCompileInputs.cache
Cooperativa/Implement/obj/Debug/Implement.csprojResolveAssemblyReference.cache
Cooperativa/Implement/obj/Debug/Implement.csproj.FileListAbsolute.txt
Cooperativa/Implement/obj/Debug/CoreCompileInputs.cache
Cooperativa/GesServicios/obj/Debug/GesServicios.csprojResolveAssemblyReference.cache
Cooperativa/GesServicios/obj/Debug/GesServicios.csproj.GenerateResource.Cache
Cooperativa/GesServicios/obj/Debug/GesServicios.csproj.FileListAbsolute.txt
*.cache
*.exe
Cooperativa/UI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.Cache
*.cache
